---
const platform = "github";
const username = "davidsanchezUK";
---

<footer>
  <p>
    Conect on <a href="https://www.linkedin.com/in/davidsanchezuk/" target="_blank">Linkedin</a>
  </p>
  <p>
    Learn more about my projects on <a
      href={`https://www.${platform}.com/${username}`} target="_blank">{platform}</a
    >!
  </p>
  <p>
    And check photos I upload on <a
      href="https://www.instagram.com/davidgiovanni.co/" target="_blank">Instagram</a>
  </p>
</footer>
